/* Sizes */
/* Colors */
/* @icon-green: #B3ED8C; */
.menu {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  color: white;
  background-image: url(../img/debut_dark.png);
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
}
.menu .tooltip-inner {
  background-color: #565656;
  color: #cccccc;
}
.menu .tooltip-arrow {
  border-top-color: #565656 !important;
}
.menu .menu-section {
  margin: 0 0 20px 0;
}
.menu .menu-section h4 {
  text-transform: uppercase;
  font-size: 12px;
  color: #aaa;
  margin: 0;
  font-weight: 300;
}
.menu .menu-section .menu-items {
  margin: 10px 0 0 0;
}
.menu .menu-section .menu-items .menu-item {
  position: relative;
  list-style: none;
  margin-left: -20px;
  margin-top: 8px;
}
.menu .menu-section .menu-items .menu-item h5 {
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.menu .menu-section .menu-items .menu-item h5 i.fa {
  margin-right: 8px;
  vertical-align: middle;
}
.menu .menu-section .menu-items .menu-item .completion-bar {
  position: absolute;
  height: 12px;
  width: 40px;
  top: 2px;
  right: 0;
  margin: 0;
  border: 1px solid #000;
  background-color: #aaaaaa;
}
.menu .menu-section .menu-items .menu-item .completion-bar .progress-bar {
  background-color: #565656;
}
.menu-item .fa-stack {
  margin: 0 10px 0 2px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
}
.menu-item .fa-stack i.fa {
  font-size: 8px;
  margin-top: 1px;
}
.menu-item .fa-stack i.fa:first-child {
  font-size: 18px;
  margin-top: -1px;
}
.menu-item i.fa {
  margin-top: -2px;
}
.menu-item i.fa.fa-inbox {
  color: #7da9d3;
}
.menu-item i.fa.fa-star {
  color: #dfe279;
}
.menu-item i.fa.fa-server {
  color: white;
  margin-top: -3px;
}
.menu-item .fa-stack i.fa.fa-calendar-o {
  color: #dd5d5d;
}
.menu-item .fa-stack i.fa.fa-repeat {
  color: white;
}
.menu-item i.fa.fa-archive {
  color: #a59562;
}
.menu-item i.fa.fa-cubes {
  color: #72965a;
}
.menu-item i.fa.fa-cube {
  color: #72965a;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../img/navy_blue.png);
}
.container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.viewport {
  position: absolute;
  display: inline-block;
  height: 100%;
  right: 0;
  top: 0;
  left: 250px;
  color: white;
}
