@import "variables";
@import "mixins";
@import "./chrome/menu";
@import "./chrome/icons";
@import "./chrome/scrollbar";
@import "./chrome/main";
@import "./chrome/project-info";
@import "./chrome/task-list";
@import "./chrome/inbox";
@import "./chrome/toolbar";
@import "./chrome/today";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .background-image("navy_blue");
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

.container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  .tooltip-inner {
    background-color: @tooltip-background-color;
    color: @tooltip-color;
  }

  .tooltip-arrow {
    border-top-color: @tooltip-background-color !important;
  }
}

input::-webkit-input-placeholder {
  color: #444444;
  font-weight: 300;
}
