@import "variables";
@import "./chrome/menu";
@import "./chrome/icons";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../img/navy_blue.png);
}
.container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.viewport {
  position: absolute;
  display: inline-block;
  height: 100%;
  right: 0;
  top: 0;
  left: @menu-width;

  color: white;
}

