@import "../variables";
@import "../mixins";

.main {
  position: absolute;
  display: block;
  height: 100%;
  right: 0;
  top: 0;
  left: @menu-width;

  color: white;

  .main-container {
    height: 100%;
    position: relative;

    .main-viewport {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: @toolbar-height;
    }
  }
}
