@import "../mixins";
@import "../variables";

.generate-completion-color(@progress-bar-color, @icon-blue, 100);

.menu {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: @menu-width;
  top: 0;
  left: 0;

  color: white;
  background-image: url(../img/debut_dark.png);

  .tooltip-inner {
    background-color: @tooltip-background-color;
    color: @tooltip-color;
  }

  .tooltip-arrow {
    border-top-color: @tooltip-background-color !important;
  }

  #menu-container {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;

    .menu-section {
      margin: 0 0 20px 0;

      h4 {
        font-size: @menu-section-height;
        color: @menu-section-color;
        margin: 0;
        font-weight: 300;
        padding: @menu-padding;
      }

      .menu-items {
        margin: 10px 0 0 0;
        padding: 0;

        .menu-item {
          position: relative;
          list-style: none;
          padding: @menu-padding-item-v @menu-padding-h;
          padding-left: 30px + @menu-padding-h;
          padding-right: @completion-bar-width + @menu-padding-h + 4px;

          h5 {
            float: left;
            font-size: @menu-item-height;
            line-height: @menu-item-height + 3px;
            font-weight: normal;
            margin: 0;
            position:relative;
            z-index: 20;

            // Text ellipsis
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            i.fa {
              margin-right: 8px;
              vertical-align: middle;
            }

            .hide-bar {
              display: none;
            }

            &.overflow:hover {
              width: 200px;

              .hide-bar {
                display: block;
                height: @menu-section-height + 1px;
                position: absolute;
                background-image: url(../img/debut_dark.png);
                width: 56px;
                right: 0;
                top: 0;
                z-index: -1;
              }
            }
          }

          .completion-bar {
            z-index: 0;
            position: absolute;
            height: @menu-item-height - 1px;
            width: @completion-bar-width;
            top: 5px;
            right: @menu-padding-h;
            margin: 0;

            border: 1px solid #000;
            border-radius: 4px;
            background-color: @progress-bar-background-color;
          }

          &.selected {
            background-color: @selection-background;

            h5.overflow:hover {
              .hide-bar {
                background-color: @selection-background;
                background-image: none;
              }
            }
          }
        }
      }
    }
  }
}

.menu.darwin {
  padding-top: 36px;
}
