@import "../variables";
@import "../mixins";

ul.todo-categories {
  padding: 0;

  .project-name {
    text-align: center;

    span {
      .name-separator(#ADB7BD);
    }
  }

  li.project {
    list-style: none;
    margin-top: 30px;

    &:first-child {
      margin-top: 20px;
    }

    ul.tasks.todos {
      margin-top: 0;
    }

    .show-more {
      margin-left: 4px;
      font-weight: 300;
      color: #aaa;

      cursor: pointer;

      &:focus, &:hover {
        outline: none;
        text-decoration: underline;
      }
    }
  }
}
