@import "../variables";
@import "../mixins";

.viewport {
  position: absolute;
  display: block;
  height: 100%;
  right: 0;
  top: 0;
  left: @menu-width;

  color: white;

  .viewport-container {
    height: 100%;
    position: relative;

    .project-info {

      .name {
        padding: 20px;

        background-color: @project-info-background;
        border-bottom: 1px solid @project-info-border;
        font-size: 16px;

        .input {
          float: left;
          width: 13px;
          height: 13px;
          margin-top: 4px;

          border-radius: 3px;
          box-shadow: inset 0px 0px 2px 0px black;
          background-color: white;
        }

        .project-name {
          margin-left: 30px;
        }

        &.today {
          .input {
            background-color: @icon-yellow;
          }
        }
      }

      i.fa {
        position: absolute;
        left: 20px;
        line-height: 23px;
        color: #ccc;
      }

      .tags {
        .project-info-mixin();

        ul {
          margin: 0
        }
      }

      .due-date {
        .project-info-mixin();

        #project-due-date-picker {
          background-color: @project-info-background;
          width: 74px;
          padding: 0;
          color: white;
          border: 0 none;
          box-shadow: none;
          line-height: 23px;
          height: 23px;
          display: inline-block;

          &.empty {
            width: 110px;
          }

          &:focus {
            outline: none;
            border: 0 none;
            box-shadow: none;
          }
        }

        #clear-due-date {
          margin-left: 4px;
          display: inline-block;

          i.fa {
            cursor: pointer;
            position: relative;
            left: 0;

            &:hover {
              color: @icon-red;
            }
          }
        }
      }

      .description {
        .project-info-mixin();

        #description-output {
          height: 100%;

          p:last-child {
            margin-bottom: 0;
          }

          &.empty[placeholder]:after {
            content: attr(placeholder);
            color: #ccc;
            font-weight: lighter;
          }

          &.empty.pending-edit:after {
            content: none;
          }


          textarea {
            height: 100%;
            width: 100%;
            min-height: 20px;
            background-color: @project-info-background;
            border: 0 none;
            box-shadow: none;
            padding: 0;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .empty-inbox {
      width: 100%;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);

      .image-container {
        width: 100%;
        text-align: center;

        .image-cropper {
          width: @empty-inbox-image-size;
          height: @empty-inbox-image-size;
          border-radius: @empty-inbox-image-size / 2;

          overflow: hidden;
          margin: auto;
        }

        .image-description{
          padding-top: 4px;
          font-size: 11px;
          color: #aaa;

          a {
            color: @viewport-link-color;

            &:hover {
              color: @viewport-link-color-hover;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
      .message {
        text-align: center;

        padding: 30px;
        font-size: 18px;

        color: white;
      }
    }
  }
}
