.description-output {
  height: 100%;

  p:last-child {
    margin-bottom: 0;
  }

  &.empty[placeholder]:after {
    content: attr(placeholder);
    font-weight: lighter;
  }

  &.empty.pending-edit:after {
    content: none;
  }


  textarea {
    height: 100%;
    width: 100%;
    min-height: 20px;
    background-color: @project-info-background;
    border: 0 none;
    box-shadow: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}
