.entity-name {
  margin-left: 30px;

  input {
    height: 22px;
    width: 100% !important;
    background-color: transparent;
    border: 0 none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}
